# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.venv
.ruff_cache
node_modules/

# misc
.coverage
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
.DS_Store
config/configuration.yaml
backup/*
custom_components/battery_notes/frontend/node_modules
custom_components/battery_notes/frontend/dist/*
!custom_components/battery_notes/frontend/dist/.gitkeep
!custom_components/battery_notes/frontend/dist/battery-notes-panel.js
