# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.venv

# misc
.coverage
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
.DS_Store
config/configuration.yaml

custom_components/battery_notes/frontend/node_modules
