name: Deploy docs
on:
  push:
    paths:
      - 'mkdocs.yaml'
      - 'docs/**'
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy_docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ runner.os }}-${{ hashFiles('mkdocs.yaml', 'pyproject.toml', 'uv.lock') }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Deploy documentation
        run: |
          uv run --only-group docs mkdocs gh-deploy --force
