name: JSON Library Upload

on:
  workflow_dispatch:
  push:
    paths:
      - 'library/schema.json'
  workflow_run:
    workflows: ["JSON Library Sorter and Doc Gen"]
    types:
      - completed

jobs:
  librarian:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload library to Cloudflare
        uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET }}
          source-dir: ./library
          destination-dir: ./

      - name: Cloudflare Purge Cache
        uses: jakejarvis/cloudflare-purge-action@v0.3.0
        env:
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
          PURGE_URLS: '["https://battery-notes-data.codechimp.org/library.json", "https://battery-notes-data.codechimp.org/schema.json"]'
