name: Validate JSONs

on: [push, pull_request]

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Validate JSON
        uses: ScratchAddons/validate-json-action@master
        env:
          schema: ./schema.json
          jsons: ./custom_components/battery_notes/data/library.json
