name: Validate JSONs

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "library/**"
      - ".github/workflows/json*.yml"
  pull_request:
    branches:
      - "main"
    paths:
      - "library/**"
      - ".github/workflows/json*.yml"

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Validate JSON
        uses: dsanders11/json-schema-validate-action@v1.4.0
        with:
          schema: library/schema.json
          files: library/library.json
